/* Enter your custom CSS here */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body{

    font-family: 'Lucida Grande', sans-serif;
    color: #666666;
    line-height: 2em;
    font-size: 16px;
    font-weight: normal;
}

.list-box{
    border: 1px solid #CCCCCC;
    padding: 1em;
    padding-bottom: 30px;
    max-width: 376px;
    margin-top: 30px;
}

.content-details{
    display: block;
    padding-top: 0.7em;
    padding-left: 0;
 }

.main-image{
    max-width: 375px;
    max-height: 375px;
    margin-top: 24px;
    margin-left: 0;
    max-width: 100%;
}

.main-title{
    font-size: 48px;
    font-weight: 400;
    padding-bottom: 0;
    margin-top: 43px;
}

.content-title{
    color: #F07C17;
    font-size: 24px;
    font-weight: 600;
    margin-top: 0px;
    letter-spacing: .030em;
    padding-bottom: 0.4em;
    line-height: 2;

}

.list-title{
    color: #F07C17;
    font-size: 25px;
    font-weight: 600;
    margin: 0px; 
    padding: 0.6em 0.7em 1.1em 0.7em ;
    letter-spacing: .028em;
}

.list-items{
    margin-left: 15px;
 }



